.form-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

button {
    margin-top: 40px;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #535BF2;
    cursor: pointer;
}

input {
    height: 30px;
    width: 300px;
    font-size: 20px;
}

select {
    height: 30px;
    width: 300px;
    font-size: 20px;
}

textarea {
    height: 100px;
    width: 400px;
    font-size: 20px;
}

label {
    margin-top: 35px;
    margin-bottom: 8px;
    font-weight: 600;
}

form {
    background-color: rgb(70, 70, 70);
    padding-bottom: 40px;
    width: 35%;
    margin: 40px auto;
    border-radius: 20px;
}