.task-flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 70%;
    margin: 30px auto;
    list-style: none;
    padding-top: 30px;
}


.task-flex-container li {
    flex: 0 1 calc(50% - 10px); 
    padding: 15px;
    background-color: #1e1e1e; 
    border: 1px solid #333;
    border-radius: 10px;
    box-sizing: border-box;    
}

.margin-btn {
    margin-right: 40px;
}

.btn {
    width: 170px;
    height: 60px;
}
