.taks-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-task{
    border: white, 1px, solid;
}

.table-width {
    width: 55%;
    padding-top: 40px;
}