ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    background-color: #000;
    padding: 20px 0;        
    width: 100%;
}


