.bg-red{
    background-color: red;
}

.bg-green {
    background-color: rgb(0, 255, 0);

}

.bg-yellow {
    background-color: yellow;
}

.black-font {
    color: black;
    font-weight: 700;
}

tr {
    font-size: 25px;
}

td a {
    color: white;
}

td a:hover {
    color: #535BF2;
}